{% extends 'bootstrap/base.html' %}
{% block title %} Flask Web | {% endblock title %}

{% block head %}
    {{ super() }}
    {% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {% endblock styles %}
{% endblock head %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock navbar %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>¡Atención!:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    
    {% block content %}{% endblock content %}

    {% block scripts %}
        {{ super() }}
    {% endblock scripts %}
{% endblock body %}
