{% extends 'base.html' %}

{% block title %}{{ super() }} 404{% endblock title %}

{% block content %}
<main>
    <div class="container">
        <h1>¡Algo salio mal!</h1>
        <h2>Se produjo un error en el servidor</h2>
        <p>{{ error }}</p>
    </div>
</main>
{% endblock content %}
