{% extends 'base.html' %}
{% import 'macros.html' as macros  %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{ super() }} Bienvenido{% endblock title %}

{% block content %}
<main role="main">
    <div class="container">
        <h1 class="display-5">Tutorial de Flask</h1>
        {% if username %}
            <h2>Bienvenido, {{ username | upper }}</h2>
        {% endif %}
        {% if user_ip %}
        <h3>Hello World from Flask, tu IP es {{ user_ip }} </h3>
        {% else %}
        <a href="{{ url_for('index') }}">Ir a inicio</a>
        {% endif %}
            
        <div class="row">
            <div class="container">
                {{ wtf.quick_form(login_form) }}
            </div>
        </div>

        <div class="row">
            <ul>
                {% for todo in todos %}
                {{ macros.render_todo(todo) }}
                {% endfor %}
            </ul>
        </div>
    </div>
</main>
<footer></footer>

{% endblock content %}