<header class="container">
    <div class="row">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary">
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static', filename='images/CitiLAN_Logo_FF7043.png') }}"
                        alt="CitiLAN Logo"
                        class="d-inline-block align-top" loading="lazy">
                    Flask Tutorial
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                 <div class="collapse navbar-collapse" id="navbarCollapse">
                      <ul class="navbar-nav mr-auto">
                         <li class="nav-item active"><a class="nav-link" href="{{ url_for('index') }}">Inicio<span
                                     class="sr-only">(current)</span></a></li>
                         <li class="nav-item"><a class="nav-link" href="https://palletsprojects.com/p/flask/">Flask</a></li>
                     </ul>
                 </div>
            </nav>
        </div>
    </div>
</header>
